body {
  font-family: "Raleway", sans-serif;
  background-color: #11111f;
}

/* NavBar Section */

.bg-nav {
  background-color: #11111f;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.button-color {
  background: #11111f;
}

.button-color:hover {
  background: rgb(42, 42, 42);
}

.button-trabajo:hover {
  color: black !important;
}

/* Acerca de mí */

#Acerca-de-mi {
  background-color: #11111f;
  color: white;
}

.horizontal-timeline .items {
  border-top: 3px solid #e9ecef;
}

.horizontal-timeline .items .items-list {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 70px;
  margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}

.horizontal-timeline .items .items-list .event-date {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 75px;
  margin: 0 auto;
  font-size: 0.9rem;
  padding-top: 8px;
}

@media (min-width: 1140px) {
  .horizontal-timeline .items .items-list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
  }

  .horizontal-timeline .items .items-list .event-date {
    top: -40px;
  }
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Mis-trabajos {
  background-image: url(../img/bg-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.card {
  background-color: #11111f;
  color: white;
}

/* Contacto */

#Contacto h2 {
  color: white;
}

#Contacto p {
  color: white;
}

#Contacto form label {
  font-weight: 700;
  color: white;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
